<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" rel="stylesheet">
    <title>Postman Pat</title>
    <style>
        p {
            margin-bottom: 0 !important;
        }

        @font-face {
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 400;
            src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
        }

        * {
            font-family: 'Product Sans', sans-serif;
        }

    </style>

</head>
<body style="margin: 0; height: 100%; padding: 0; padding-right: 0">
<div style="height: 100%" id="postmanPatApp"></div>

<script type="application/javascript" src="../clientServices/build/main.bundle.js"></script>
</body>
</html>
